out
.idea
StaffPhotograph
AttachmentDocumentsStorage
GeneratedReports
OPD_Management.iml
Admin.txt
Doctor.txt
Receptionist.txt
Visitor.txt
Patient.txt
Login.txt
Appointment.txt
Complaint.txt
Postal.txt